<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
</style>
</head>
<body>

{{>slider}}
{{>header}}
<h3 style="text-align: center;font-size:16px">Add new Candidate</h3>
<div class="container">
  <form action="../add" method="POST">
    <div class="row">
      <div class="col-25">
        <label for="fname">Full Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="fullname" placeholder="Name" required autocomplete="off">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="email">Email Address</label>
      </div>
      <div class="col-75">
        <input type="text" id="email" name="email" placeholder="Email Address" required autocomplete="off">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="First Round Score">First Round Score</label>
      </div>
      <div class="col-75">
        <input type="text" id="First Round Score" name="fround" placeholder="First Round Score" required autocomplete="off">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="Second Round Score">Second Round Score</label>
      </div>
      <div class="col-75">
        <input type="text" id="Second Round Score" name="sround" placeholder="Second Round Score" required autocomplete="off">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="Third Round Score">Third Round Score</label>
      </div>
      <div class="col-75">
        <input type="text" id="Third Round Score" name="tround" placeholder="Third Round Score" required autocomplete="off">
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>
{{>footer}}
</body>
</html>
