<!DOCTYPE html>
<html>
    <title>Second Round</title>
    <body>
        {{>slider}}
        {{>header}}
        <h4 style="text-align: center;"><br><br> Sum of round second score is {{sum}}  <br><br> Average Score of Round second is  {{avg}} <br><br> Highest Marks in round second : {{max}} <br><br> scored by {{name}}</h4>
        {{>footer}}
    </body>
</html>
